
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first{
    background-color:  hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.second{
    background-color: hsl(184, 100%, 22%);

}

.third{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.first, .second, .third{
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    width: 50%;
    padding: 20px;
    height: 50%;
    color: hsl(0, 0%, 95%);
    /* background-color: red; */

    
}

h1{
    font-family: "Big Shoulders Di/splay", sans-serif;
    font-size: 2rem;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 20px;
    margin-bottom: 10px;
}

.first button{
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    margin-top: 35px;
    padding: 10px;
    border: none;
    border-radius: 20px;

}
.second button{
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
    margin-top: 35px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
.third button{
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
    margin-top: 35px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}


